/*=============================
=            index            =
=============================*/


/*=============================
=            section            =
=============================*/
.list-event .content-box{
    height: 300px;
}



.lista_notas .blog-news-column h3{
    height: 60px;
    overflow: hidden;
}
.lista_notas .blog-news-column .text{
    height: 50px;
    overflow: hidden;
}



.header-style-two .header-top .logo2 img{
    /*display:inline-block;*/
    display: none;   
    width: 100%;
}

.featured-project .inner-box {
    margin:  0 10px;
}
.featured-video .inner-box {
    margin:  0 10px;
}
.featured-project .inner-box .image-box{
    height: 261px;
}
.featured-project .inner-box img{
    height: 261px;
}
.video-owl .default-featured-column{
    margin: 0 10px;
}
.main-slider .bg-color2{
    position:relative;
    padding:5px 16px;
    line-height:1.4em;

    background:rgba(0, 0, 0, 0.5);
    color:#ffffff;
    text-transform:uppercase;
}
.default-featured-column .inner-box .image-box{
    overflow: hidden;

}
/* bx top nav style */
.bx-controls .owl-nav > a {
    background: #00723A;
    background-image: none;
    border: 2px solid #00723A;
    color: #fff;
    height: auto;
    line-height: 26px;
    padding: 0 11px;
    width: auto;
    text-indent: 0;
    top: -34px;
    z-index: 0;
}
.owl-relacion .owl-carousel.owl-nav-style.owl-nav3 .owl-nav > a:hover {
    background: #fff !important;
    color: #00723A !important;
}
.owl-relacion .owl-carousel.owl-nav-style.owl-nav3 .owl-nav > a:hover i {
    color: #00723A !important;
}
.owl-relacion .owl-carousel.owl-nav-style.owl-nav3 .owl-nav > a i {
    color: #fff !important;
}
.owl-relacion .owl-carousel.owl-nav-style.owl-nav3 .owl-nav .owl-prev {
    right: 72px !important;
    left: auto !important;
}
.owl-relacion .owl-carousel.owl-nav-style.owl-nav3 .owl-nav .owl-next {
    right: 16px !important;
}
.list-videos .content-box {
    padding: 20px 18px;
}
.list-videos .content-box {
    background-color: #f5f5f5;
    padding: 20px;
}
.list-videos .content-box h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: initial;
    height: 50px;
}
.list-videos .content-box h3 a {
    color: #25292f;
}
.list-videos img{
    max-height: 375px;
    height: 375px;
}
.main-footer:before{
    background: rgba(34,34,34,0.90);
}
.footer-bottom{
    background: #313131;
}
.contact-widget li.theme_color a{
    color: #00723A !important;
}
.copyright a{
    color: #c9c9c9;
}
.static_page .text {
    margin-bottom: 20px;
    color: #25292f;
}

.equipo_seccion .team-member .image {
    height: 270px;
    overflow: hidden;
}
.team-section .owl-controls{
    position:relative;
    text-align:center;
    padding:20px 0px;
    top:0px;    
}

.team-section .owl-controls .owl-next,
.team-section .owl-controls .owl-prev{
    position:relative;
    width:50px !important;
    height:38px !important;
    padding:0px !important;
    background:#00723A !important;
    color:#ffffff !important;
    line-height:38px;
    font-size:20px !important;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    transition:all 500ms ease;  
}

.team-section .owl-controls .owl-next:hover,
.team-section .owl-controls .owl-prev:hover{
    background:#000 !important; 
}

.team-section .owl-controls .owl-prev{
    border-radius:4px 0px 0px 4px !important;
    margin:0px !important;  
}

.team-section .owl-controls .owl-next{
    border-radius:0px 4px 4px 0px !important;
    margin:0px !important;
    right:-1px; 
}

.team-section .owl-dots,
.team-section.style-two .owl-nav{
    display:none !important;
}

.team-section.style-two .owl-dots{
    display:block !important;
}

.static_contenido li{
    border-left: 3px #00723A solid;
    margin-bottom: 3px;
}
.static_contenido li a{
    color: #2f2f31;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
}
.static_contenido li.active a{
    background: #00723A;
    color: white;

}

@media (max-width: 600px){

  .blog-news-column .inner-box .text img, .blog-news-column .inner-box .text iframe,
  .acerca_page .tab-content .text img, .acerca_page .tab-content .text iframe,
  .default-featured-column .inner-box .text img, .default-section .text_about img{
    width: 100% !important;
    height: auto !important;
    margin:10px 0px !important;
  }
  .image-box iframe{

    min-height: 300px; 
  }
   .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
    .team-section .team-member .image {
      height: auto !important;
    }

}
@media (max-width: 768px){
    .header-style-two .header-top .logo img{
        width: 35%;
    }
    .info-outer{
        width:  100%;
    }
    .header-style-two .header-top .info-box{
        margin: 0;
        display: block;
    }
    .header-style-two .social-links{
        top: 0px;
    }
}
@media (min-width: 768px){
  .crea_foro .comment-form .form-group input {
    width: auto;
  }
  .image-box iframe{
    min-height: 450px; 
  }
  .form-inline  .textInput{
    min-width: 60% !important;
  }
  .form-filter{
    margin-top: 15px;
    }

}
@media (max-width: 850px){
    .main-menu .navigation > li > a{
        font-size: 15px;
    }
}
@media (max-width: 992px){
   .header-style-two .header-top .logo img{
       max-width: 75% !important;
    } 
}

@media (min-width: 992px){
    
    .header-style-two .main-menu .navigation > li{
        margin-right: 15px;
    }
    .form-filter{
        margin-top: 15px;
    }

}
@media only screen and (max-width: 1023px){
.main-header .header-upper .logo2, .header-style-two .header-top .logo2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 0px;
    display: none;
}
}
/*==================================
=            Formulario            =
==================================*/
.tabpanel  li{
    display:inline-block;
    margin: 8px 0px;
}
.tabpanel  li a{
    position:relative;
    
    padding:9px 25px;
    line-height:24px;
    border:2px solid #e9e9e9;
    color:#808080;
    cursor:pointer;
    text-transform:uppercase;
    font-size:13px;
    font-weight:700;
    border-radius:3px;
    transition:all 300ms ease;
    -webkit-transition:all 300ms ease;
    -ms-transition:all 300ms ease;
    -o-transition:all 300ms ease;
}

.tabpanel  li:hover a,
.tabpanel  li.active a{
    border-color:#00723A;
    color:#ffffff;
    background:#00723A; 
}

.relacionados .owl-controls{
    top:-40px;
    padding: 0px;
    margin-top: 0px;
}
.font-weight{
    font-weight: bold;
}
