

.lista_notas .blog-news-column h3{
    height: 60px;
    overflow: hidden;
}
.lista_notas .blog-news-column .text{
    height: 50px;
    overflow: hidden;
}

.header-style-two .header-top .logo2{
    position:relative;
    float:left;
    padding-left: 100px; 
    display: none;
}

.header-style-two .header-top .logo2 img{
    max-width:90%;
    /*display:inline-block;*/
    display: none;   
}





.featured-project .inner-box {
    margin:  0 10px;
}
.featured-video .inner-box {
    margin:  0 10px;
}
.featured-project .inner-box .image-box{
    height: 261px;
}
.featured-project .inner-box img{
    height: 261px;
}
.video-owl .default-featured-column{
    margin: 0 10px;
}
.main-slider .bg-color2{
    position:relative;
    padding:5px 16px;
    line-height:1.4em;

    background:rgba(0, 0, 0, 0.5);
    color:#ffffff;
    text-transform:uppercase;
}
.default-featured-column .inner-box .image-box{
    overflow: hidden;

}
/* bx top nav style */
.bx-controls .owl-nav > a {
    background: #00723A;
    background-image: none;
    border: 2px solid #00723A;
    color: #fff;
    height: auto;
    line-height: 26px;
    padding: 0 11px;
    width: auto;
    text-indent: 0;
    top: -34px;
    z-index: 0;
}
.owl-relacion .owl-carousel.owl-nav-style.owl-nav3 .owl-nav > a:hover {
    background: #fff !important;
    color: #00723A !important;
}
.owl-relacion .owl-carousel.owl-nav-style.owl-nav3 .owl-nav > a:hover i {
    color: #00723A !important;
}
.owl-relacion .owl-carousel.owl-nav-style.owl-nav3 .owl-nav > a i {
    color: #fff !important;
}
.owl-relacion .owl-carousel.owl-nav-style.owl-nav3 .owl-nav .owl-prev {
    right: 51px !important;
    left: auto !important;
}
.owl-relacion .owl-carousel.owl-nav-style.owl-nav3 .owl-nav .owl-next {
    right: 16px !important;
}
.list-videos .content-box {
    padding: 20px 18px;
}
.list-videos .content-box {
    background-color: #f5f5f5;
    padding: 20px;
}
.list-videos .content-box h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    height: 50px;
}
.list-videos .content-box h3 a {
    color: #25292f;
}
.list-videos img{
    max-height: 375px;
    height: 375px;
}
.main-footer:before{
    background: rgba(34,34,34,0.90);
}
.footer-bottom{
    background: #313131;
}
@media (min-width: 768px){
  .crea_foro .comment-form .form-group input {
    width: auto;
  }
  .image-box iframe{
    min-height: 450px; 
  }
  .form-inline  .textInput{
    min-width: 60% !important;
  }

}
@media (max-width: 600px){

  .blog-news-column .inner-box .text img, .blog-news-column .inner-box .text iframe, .default-featured-column .inner-box .text img, .default-section .text_about img{
    width: 100% !important;
    height: auto !important;
    margin:10px 0px !important;
  }
  .image-box iframe{

    min-height: 300px; 
  }
   .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
    .team-section .team-member .image {
      height: auto !important;
    }
}
@media only screen and (max-width: 1023px){
.main-header .header-upper .logo2, .header-style-two .header-top .logo2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 0px;
    display: none;
}
}