{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
    <!--Page Title-->
{% for portada in  site_config.fotossecciones_set.all %}
    {% if request.path == portada.url %}
    <section class="page-title" style="background-image:url(/media/{{portada.foto}});">
        <div class="auto-container">
            <div class="sec-title">
                <h1><span class="normal-font">Página no encontrada</span></h1>
                <div class="bread-crumb">
                    <a href="/">Inicio</a> / <a href="#">Error 404</a>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}

    <section class="error-section">
    	<div class="auto-container">
        	<div class="row clearfix">
                
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="text-column text-center clearfix">
                        <div class="error-text">
                            <h1 class="bigger-font">404</h1>
                            <h3>Se produjo un <span class="theme_color">ERROR!!</span></h3>
                            <div class="text">La página que busca se eliminó, cambió de nombre o  <br>puede que nunca haya existido.</div>
                            <a href="index.html" class="theme-btn btn-style-three">Ir a inicio</a>
                        </div>
                    </div>
                </div>

                
            </div>
    	</div>
    </section>
{% endblock content %}
