{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
    <!--Page Title-->
{% for portada in  site_config.fotossecciones_set.all %}
    {% if request.path == portada.url %}
    <section class="page-title" style="background-image:url(/media/{{portada.foto}});">
        <div class="auto-container">
            <div class="sec-title">
                <h1><span class="normal-font">{{portada.titulo}}</span></h1>
                <div class="bread-crumb">
                    <a href="/">Inicio</a> / <a href="#">Acerca de</a>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}

    <!--Sidebar Page-->
    <div class="sidebar-page">
    	<div class="auto-container">
    		<div class="visible-xs">
    			<nav role="navigation">
	            	<div id="menuToggle">

	            		<input type="checkbox" />
	            		<span></span>
	            		<span></span>
	            		<span></span>
	            		<ul id="menu">
                            {% for  pagina in site_config.acercasecciones_set.all reversed %}
                                <li class="{% if forloop.counter == 1 %}active {%endif%}"><a href="#tab-{{pagina.id}}" data-toggle="tab">{{pagina.titulo}}</a></li>
                            {% endfor %}
	            		</ul>
	            	</div>
	            	<p class="prueba">Contenido</p>
	            </nav>
    		</div>

        	<div class="row clearfix acerca_page">
				<!--Sidebar-->
	                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 hidden-xs">
	                    <aside class="sidebar">
	                        <div class="widget">
	                        	<nav class="nav static_contenido">
									<ul class="nav tabs">
                                    {% for pagina in site_config.acercasecciones_set.all reversed %}
                                         <li class="">
                                         	<a href="#tab-{{pagina.id}}" data-toggle="tab">{{pagina.titulo}}</a>
                                         </li>
                                    {% endfor %}
	                                    <li class="active">
											<a href="#memorias" aria-controls="memorias" role="tab" data-toggle="tab">Memoria y evaluaciones</a>
										</li>
									</ul>
								</nav>

	                        </div>

	                    </aside>

	                </div>
	            <!--Sidebar-->
                <!--Content Side-->
	                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

	                	<div class="tab-content">
                        {% for pagina in site_config.acercasecciones_set.all reversed %}
	                		<div class="tab-pane  text-style" id="tab-{{pagina.id}}">
	                			<h2 class="inner-title double-line line-left">{{pagina.titulo}}</h2>
	                			<div class="text">
	                				{{pagina.contenido|safe}}
	                			</div>
	                			<hr>
	                		</div>
                        {% endfor %}
                        	<div role="tabpanel" class="tab-pane active" id="memorias">
                        		<h2 class="inner-title double-line line-left">Memoria y evaluaciones</h2>
                        		<div class="column default-featured-column style-two">
		                            <article class="inner-box wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                                    {% for obj in memorias %}
		                                <div class="row">
		                                    <div class="col-md-3">
		                                    	<a href="">
                                                {% if obj.portada %}
                                                     <figure class="image-box">
                                                        {% thumbnail obj.portada "200x280" crop="center" as im %}
                                                            <a href="#"><img src="{{ im.url }}" alt="{{obj.titulo}}" width="100%"></a>
                                                        {% endthumbnail %}
                                                    </figure>
                                                {% else %}
                                                     <figure class="image-box">
                                                        <a href="#"><img src="https://via.placeholder.com/200x280" alt="" width="100%"></a>
                                                    </figure>
                                                {% endif %}
		                                        </a>
		                                    </div>
		                                    <div class="col-md-9">
		                                        <div class="content-box">
		                                            <h3><a href="#">{{obj.titulo}}</a></h3>

		                                            <div class="text">
			                                            {{obj.descripcion|safe}}
			                                        </div>
                                                {% if obj.archivosmemorias_set.all %}
                                                    {% for pdf in obj.archivosmemorias_set.all %}
                                                        <a href="/media/{{pdf.archivo}}" target="_blank" class="theme-btn btn-style-two btn-sm"><i class="fa fa-download"></i> Descargar</a>
                                                    {% endfor %}
                                                {% endif %}

		                                        </div>
		                                    </div>
		                                </div>
                                     {% endfor %}
		                            </article>
		                        </div>
                        	</div>
	                	</div>
	                </div>
                <!--Content Side-->
            </div>
        </div>
    </div>
{% endblock content %}
