{% extends "base.html" %}

{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/img.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1><span class="normal-font">Acerca de</span></h1>
                <div class="bread-crumb">
                    <a href="/">Inicio</a> / <a href="#">Acerca de</a>
                </div>
            </div>
        </div>
    </section>


    <!--Sidebar Page-->
    <div class="sidebar-page">
    	<div class="auto-container">
    		<div class="visible-xs">
    			<nav role="navigation">
	            	<div id="menuToggle">

	            		<input type="checkbox" />
	            		<span></span>
	            		<span></span>
	            		<span></span>
	            		<ul id="menu">
                            {% for  pagina in site_config.acercasecciones_set.all %}
                                <li class="{% if forloop.counter == 1 %}active {%endif%}"><a href="#tab-{{pagina.id}}" data-toggle="tab">{{pagina.titulo}}</a></li>
                            {% endfor %}
	            		</ul>
	            	</div>
	            	<p class="prueba">Contenido</p>
	            </nav>
    		</div>

        	<div class="row clearfix">
				<!--Sidebar-->
	                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 hidden-xs">
	                    <aside class="sidebar">
	                        <div class="widget">
	                        	<nav class="nav static_contenido">
									<ul class="nav tabs">
                                    {% for pagina in site_config.acercasecciones_set.all %}
                                         <li class="{% if forloop.counter == 1 %}active {%endif%}"><a href="#tab-{{pagina.id}}" data-toggle="tab">{{pagina.titulo}}</a></li>
                                    {% endfor %}
									</ul>
								</nav>

	                        </div>

	                    </aside>

	                </div>
	            <!--Sidebar-->
                <!--Content Side-->
	                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

	                	<div class="tab-content">
                        {% for pagina in site_config.acercasecciones_set.all %}
	                		<div class="tab-pane {% if forloop.counter == 1 %}active {%endif%} text-style" id="tab-{{pagina.id}}">
	                			<h2>{{pagina.titulo}}</h2>
	                			<p>
	                				{{pagina.contenido|safe}}
	                			</p>
	                			<hr>
	                		</div>
                        {% endfor %}
	                	</div>
	                </div>
                <!--Content Side-->
            </div>
        </div>
    </div>
{% endblock content %}
