<!DOCTYPE html>
{% load static solo_tags sitetree compress %}
<html>
<head>
    {% get_solo 'configuracion.SiteConfiguration' as site_config %}
<meta charset="utf-8">
<title>{{ site_config.site_name }}</title>
{% block share_fb %}{% endblock share_fb %}

<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/favicon.png">
<link rel="icon" type="image/png" sizes="180x180"  href="/static/images/favicon/favicon.png">
<link rel="manifest" href="/static/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- Stylesheets -->

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/revolution-slider.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-margin-padding.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'css/video.css' %}" rel="stylesheet">
<link href="{% static 'css/xs-menu.css' %}" rel="stylesheet">
<link href="{% static 'css/costume.css' %}" rel="stylesheet">

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body>
<div class="page-wrapper">

    <!-- Header Style Two-->
    <header class="header-style-two">
        <!-- Header Top -->
        <div class="header-top">
            <div class="auto-container clearfix">
                <!-- Logo -->
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="logo">
                            <a href="/"><img src="{% static 'images/logo-1.png' %}" alt="Greenture"></a>
                         </div>
                    </div>
                    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
                        <div class="logo2">
                            <a href="/"><img src="https://via.placeholder.com/400x88" alt="Greenture"></a>
                         </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!--Info Outer-->
                         <div class="info-outer">
                            <div class="info-box social-box">
                                <div class="social-links clearfix">
                                    <a href="https://www.facebook.com/Fundaci%C3%B3n-Luci%C3%A9rnaga-1617293805254230" class="facebook img-circle" target="_blank"><span class="fa fa-facebook-f"></span></a>
                                    <a href="https://www.youtube.com/channel/UC5xtfARS1hdTHY9yyPPSZcQ" class="google-plus img-circle" target="_blank"><span class="fa fa-youtube"></span></a>
                                    <!--<a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="vimeo img-circle"><span class="fa fa-vimeo"></span></a>-->

                                </div>
                            </div>
                         </div>
                    </div>
                </div>





            </div>
        </div><!-- Header Top End -->

        <!-- Lower Part -->
        <div class="lower-part">
            <div class="auto-container clearfix">

                <!--Outer Box-->
                <div class="outer-box clearfix">



                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            {% sitetree_menu from "menutree" include "trunk" %}
                        </div>
                    </nav><!-- Main Menu End-->

                </div>
            </div>
        </div><!-- Lower Part End-->
    </header><!--End Header Style Two-->

    {% block content %} {% endblock%}
    <!--Main Footer-->
    <footer class="main-footer" style="background-image:url({% static 'materiales/img/Videoteca1.jpg' %});">

        <!--Footer Upper-->
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">

                    <div class="col-lg-3 col-sm-6 col-xs-12 column mb-xs-50">
                        <div class="footer-widget about-widget">
                            <div class="logo"><a href="index.html"><img src="{% static 'images/luciernaga-01.png' %}" class="img-responsive" alt=""></a></div>


                        </div>
                    </div>
                    <!--Footer Column-->
                    <div class="col-lg-3 col-sm-6 col-xs-12 column">
                        <div class="footer-widget contact-widget other-info">
                            <h2>Contactos</h2>
                            <ul class="info-box">
                                <li class="theme_color"><span class="icon flaticon-location"></span><strong class="white_color">Dirección</strong> Reparto Bolonia, Sumedico 1 c. al Oeste, Managua, Nicaragua</li>
                                <li class="theme_color"><span class="icon flaticon-technology-5"></span><strong class="white_color">Teléfono</strong> + (505) 2266-0811, 2268-7802</li>
                                <li class="theme_color"><span class="icon flaticon-interface-1"></span><strong class="white_color">Correo</strong> <a href="mailt:luciernaga@gmail.com">luciernaga@gmail.com</a></li>
                            </ul>
                        <br>
                        <div class="social-links-two clearfix">
                                <a href="https://www.facebook.com/Fundaci%C3%B3n-Luci%C3%A9rnaga-1617293805254230" class="facebook img-circle" target="_blank"><span class="fa fa-facebook-f"></span></a>
                                <a href="https://www.youtube.com/channel/UC5xtfARS1hdTHY9yyPPSZcQ" class="google-plus img-circle" target="_blank"><span class="fa fa-youtube"></span></a>
                            </div>

                        </div>
                    </div>

                    <!--Footer Column-->
                    <div class="col-lg-3 col-sm-6 col-xs-12 column">
                        <h2>Links de Interés</h2>
                        <div class="footer-widget links-widget">
                            <ul>
                                <li><a href="/videotecas/">Videoteca</a></li>
                                <li><a href="/noticias/">Noticia</a></li>
                                <li><a href="/eventos/">Eventos</a></li>
                                <li><a href="/historia/">Acerca de</a></li>
                                <li><a href="/loma-verde/">Loma verde</a></li>
                            </ul>

                        </div>
                    </div>

                    <!--Footer Column-->
                    <div class="col-lg-3 col-sm-6 col-xs-12 column">
                        <div class="footer-widget news-widget">
                            <h2>Últimas Noticias</h2>
                        {% for obj in ultimas_noticias %}
                            <!--News Post-->
                            <div class="news-post">
                                <div class="icon"></div>
                                <div class="news-content"><figure class="image-thumb"><img src="/media/{{obj.portada}}" alt="{{obj.titulo}}"></figure><a href="{% url 'noticia_detail' obj.id obj.slug %}">{{obj.titulo}}</a></div>
                                <div class="time">{{obj.fecha}}</div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>



                </div>

            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container clearfix">
                <!--Copyright-->
                <div class="copyright text-center">Todos los derechos reservados <a href="/">Fundación Luciernaga</a>. Desarollado por <a href="http://www.simas.org.ni">SIMAS</a></div>
            </div>
        </div>

    </footer>

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".page-wrapper"><span class="fa fa-long-arrow-up"></span></div>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/revolution.min.js' %}"></script>
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/mixitup.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/circle-progress.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>


<script src="https://cdn.plyr.io/3.4.3/plyr.js"></script>
<script>const players = Plyr.setup('.js-player');</script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
