{% extends "base.html" %}

{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/img.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>Detalle <span class="normal-font">{{object.titulo}}</span></h1>
                <div class="bread-crumb">
                    <a href="/">Inicio</a> / <a href="/noticias/">Noticias</a>
                </div>
            </div>
        </div>
    </section>


    <!--Sidebar Page-->
    <div class="sidebar-page">
    	<div class="auto-container">
        	<div class="row clearfix">

                <!--Content Side-->
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

                    <!--Projects Section-->
                    <section class="blog-news-section blog-detail no-padd-bottom no-padd-top padd-right-20">

                        <!--News Column-->
                        <div class="column blog-news-column">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="#"><img src="/media/{{object.portada}}" alt="{{object.titulo}}"></a>
                                    <div class="news-date">{{object.fecha|date:"d"}}<span class="month">{{object.fecha|date:"M"}}</span></div>
                                </figure>
                                <div class="content-box padd-top-30">
                                    <h3><a href="#">{{object.titulo}}</a></h3>
                                    <div class="post-info clearfix">
                                        <div class="post-author">Por <span class="theme_color">{{object.usuario.username}}</span></div>
                                        <!--<div class="post-options clearfix">
                                            <a href="#" class="comments-count"><span class="fa fa-calendar theme_color"></span> {{object.fecha}}</a>
                                        </div>-->
                                    </div>
                                    <div class="text mt-20">
                                    	{{object.contenido|safe}}
                                    </div>
                                </div>

                                <div class="post-share-options clearfix">
                                	<div class="pull-left tags"><strong>Tag</strong> :
                                        {% for tag in object.tags.all %}
                                                <a href="{{tag.slug}}">{{tag}}</a> {% if  forloop.last%}{% else %},{% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="pull-right social-links-two clearfix">
                                    	<a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                                        <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                        <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                                    </div>
                                </div>

                            </article>
                        </div>
                    </section>


                </div>
                <!--Content Side-->
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>
{% endblock content %}
