{% extends "base.html" %}
{% block share_fb %}
    <meta property="og:title" content="{{object.titulo}}" />

    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://fundacionluciernaga.org/media/{{object.portada}}">
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:description" content="{{object.contenido|striptags}}" />
    <meta property="og:url" content="https://fundacionluciernaga.org{{request.path}}" />
    <meta property="og:locale" content="es_ES" />

    <meta name="twitter:title" content="{{object.titulo}}">
    <meta name="twitter:description" content="{{object.contenido|striptags}}">
    <meta name="twitter:image" content="https://fundacionluciernaga.org/media/{{object.portada}}">
    <meta name="twitter:site" content="@LUCIÉRNAGA">
    <meta name="twitter:creator" content="@LUCIÉRNAGA">
{% endblock share_fb %}
{% block content %}
    <!--Page Title-->
{% for portada in  site_config.fotossecciones_set.all %}
    {% if request.path == portada.url %}
    <section class="page-title" style="background-image:url(/media/{{portada.foto}});">
        <div class="auto-container">
            <div class="sec-title">
                <h1>{{portada.titulo}}</h1>
                <div class="bread-crumb"><a href="/noticias/">Noticias</a>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}

    <!--Sidebar Page-->
    <div class="sidebar-page">
    	<div class="auto-container">
        	<div class="row clearfix">

                <!--Content Side-->
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

                    <!--Projects Section-->
                    <section class="blog-news-section blog-detail no-padd-bottom no-padd-top padd-right-20">

                        <!--News Column-->
                        <div class="column blog-news-column">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="#"><img src="/media/{{object.portada}}" alt="{{object.titulo}}"></a>
                                    <div class="news-date">{{object.fecha|date:"d"}}<span class="month">{{object.fecha|date:"M"}}</span></div>
                                </figure>
                                <div class="content-box padd-top-30">
                                    <h3><a href="#">{{object.titulo}}</a></h3>
                                    <div class="post-info clearfix">
                                        <div class="post-author">Por <span class="theme_color">{{object.usuario.username}}</span></div>
                                        <!--<div class="post-options clearfix">
                                            <a href="#" class="comments-count"><span class="fa fa-calendar theme_color"></span> {{object.fecha}}</a>
                                        </div>-->
                                    </div>
                                    <div class="text mt-20">
                                    	{{object.contenido|safe}}
                                    </div>
                                </div>

                                <div class="post-share-options clearfix">
                                	<div class="pull-left tags"><strong>Tag</strong> :
                                        {% for tag in object.tags.all %}
                                                <a href="{{tag.slug}}">{{tag}}</a> {% if  forloop.last%}{% else %},{% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="pull-right social-links-two clearfix">
                                    	<a href="https://www.facebook.com/sharer.php?u=https://fundacionluciernaga.org{{request.path}}" class="facebook img-circle customer share"><span class="fa fa-facebook-f"></span></a>
                                        <a href="https://fundacionluciernaga.org{{request.path}}&amp;text={{object.titulo}}" class="twitter img-circle customer share"><span class="fa fa-twitter"></span></a>

                                    </div>
                                </div>

                            </article>
                        </div>
                    </section>


                </div>
                <!--Content Side-->
                {% include "sidebar_noticia.html" %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="/static/js/share.js"></script>
{% endblock extra_js %}
