{% extends "base.html" %}

{% load thumbnail %}

{% block content %}
    <!--Page Title-->
{% for portada in  site_config.fotossecciones_set.all %}
    {% if request.path == portada.url %}
    <section class="page-title" style="background-image:url(/media/{{portada.foto}});">
        <div class="auto-container">
            <div class="sec-title">
                <h1>{{portada.titulo}}</h1>
                <div class="bread-crumb">
                    <a href="/">Inicio</a> / <a href="/contactenos/" class="current">Contáctenos</a>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}

    <!--Default Section / Other Info-->
    <section class="default-section other-info">
    	<div class="auto-container">

        	<div class="row clearfix">

                <!--Info Column-->
                <div class="column info-column col-lg-5 col-md-6 col-sm-12 col-xs-12">
                	<article class="inner-box">
                		<h3 class="margin-bott-20">Visítanos</h3>
                        <div class="text margin-bott-40">Fundación Luciérnaga fortalece sus vínculos con otras organizaciones que trabajan en pro de los medios de información, cooperantes y comunidades que posibilitaron la elaboración y difusión de diversos materiales audiovisuales sobre momentos históricos relevantes en América Latina. Para más informacion puede contactarnos. </div>
                        <ul class="info-box">
                            <li><span class="icon flaticon-location"></span><strong>Dirección</strong> Reparto Bolonia, Sumedico 1 c. al Oeste, Managua, Nicaragua</li>
                            <li><span class="icon flaticon-technology-5"></span><strong>Teléfono</strong> +(505) 2266-0811, 2268-7802</li>
                            <li><span class="icon flaticon-interface-1"></span><strong>Correo</strong> luciernaga@gmail.com</li>
                        </ul>
                    </article>
                </div>

                <!--Image Column-->
                <div class="column image-column col-lg-7 col-md-6 col-sm-12 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box"><img src="/static/images/background/foto%20casa%20luciernaga.JPG" alt=""></figure>
                    </article>
                </div>

            </div>
        </div>
    </section>


    <!--Contact Section-->
    <section class="contact-section no-padd-top">
    	<div class="auto-container">

        	<div class="row clearfix">

                <!--Map Column-->
                <div class="column map-column col-lg-5 col-md-6 col-sm-12 col-xs-12">
                	<h2>NUESTRA UBICACIÓN EN EL MAPA</h2>

                	<article class="inner-box">
                		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.592709804908!2d-86.28779128468865!3d12.139995591405205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f715677bffec943%3A0xc8961813ef970ea9!2sFundaci%C3%B3n+Luci%C3%A9rnaga!5e0!3m2!1ses!2sni!4v1542060469548" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </article>
                </div>

                <!--Form Column-->
                <div class="column form-column col-lg-7 col-md-6 col-sm-12 col-xs-12">
                	<h2>Comunícate con nosotros </h2>
                	<!--COntact Form-->
                	<div class="inner-box contact-form">
                    	<form method="post" action="." id="contact-form">
                            {% csrf_token %}
                        	<div class="row clearfix">
                            	<!--Form Group-->
                                <div class="form-group col-md-6 col-xs-12">
                                    {{form.name}}
                                </div>
                                <!--Form Group-->
                                <div class="form-group col-md-6 col-xs-12">
                                    {{form.email}}
                                </div>
                                <!--Form Group-->
                                <div class="form-group col-md-12 col-xs-12">
                                    {{form.message}}
                                </div>

                                <!--Form Group-->
                                <div class="form-group col-md-12 col-xs-12">
                                	<div class="text-right"><button type="submit" class="theme-btn btn-style-two">Enviar</button></div>
                                </div>
                            </div>
                        </form>
                    </div><!--COntact Form-->

                </div>

            </div>
        </div>
    </section>
    <!--Team Section-->
    <section class="team-section equipo_seccion">
        <div class="auto-container">
            <div class="sec-title clearfix">
                <div class="">
                    <h2>Nuestro <span class="normal-font theme_color">Equipo</span></h2>

                </div>
            </div>

            <div class="team-carousel">

                <!--Column-->
            {% for obj in personal %}
                <article class="team-member slide-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image"><a href="mailto:{{obj.correo}}">
                            {% thumbnail obj.foto "350x250" crop="center" as im %}
                                 <img src="{{im.url}}" alt="{{obj.nombre_completo}}">
                            {% endthumbnail %}
                           </a></figure>
                        <div class="member-info">
                            <h3>{{obj.nombre_completo}}</h3>
                            <div class="designation">{{obj.cargo}}</div>
                            <a href="mailto:caorreo@correo.com"><i class="fa fa-envelope theme_color"></i> {{obj.correo}}</a>
                        </div>
                    </div>
                </article>
            {% endfor %}

            </div>

        </div>
    </section>
{% endblock content %}
