{% extends "base.html" %}

{% load thumbnail el_pagination_tags %}

{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(materiales/img/Panorama.png);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>{{object.titulo}}</h1>
                <div class="bread-crumb"><a href="/">Inicio</a> / <a href="/catalogos/" class="current">Catálogo</a></div>
            </div>
        </div>
    </section>


    <!--Team Section-->
    <section class="team-section member-details">
        <div class="auto-container">

            <!--Column-->
            <article class="column team-member">
                <div class="inner-box">
                    <div class="row clearfix">
                        <div class="column image-column col-lg-5 col-md-3 col-sm-3 col-xs-12">
                            <figure class="image">
                                {% if object.portada %}
                                    <img class="img-responsive" src="/media/{{object.portada}}" alt="{{object.titulo}}" width="100%">
                                {% else %}
                                    <img class="img-responsive" src="/media/{{object.portada}}" alt="{{object.titulo}}">
                                {% endif %}
                            </figure>
                        </div>

                        <div class="column content-column col-lg-7 col-md-9 col-sm-9 col-xs-12">
                            <div class="member-info padd-bott-30">
                                <h3>{{object.titulo}}</h3>
                                <ul class="list-inline video_info">
                                    <li><a href="#">Autores: {{object.autores}}</a></li> •
                                    <li>Año de publicación: {{object.year}}</li>
                                </ul>

                            </div>

                            <h4><strong>Sinópsis</strong></h4>
                            <div class="content">
                                <div class="text no-border no-padd-bottom">
                                    <p>
                                       {{object.sinopsis|safe}}
                                    </p>
                                </div>
                                <div class="pb-20">
                                {% if object.archivoscatalogos_set.all %}
                                    {% for obj in object.archivoscatalogos_set.all %}
                                        <a href="/media/{{obj.archivo}}" class="theme-btn btn-style-two">Descargar <span class="fa fa-download"></span></a>
                                    {% endfor %}
                                {% endif %}
                                </div>
                                <div class="social-links">
                                    <a href="https://www.facebook.com/sharer.php?u=http://fundacionluciernaga.org{{request.path}}" class="customer share"><span class="fa fa-facebook-f"></span></a>
                                    <a href="http://fundacionluciernaga.org{{request.path}}&amp;text={{object.titulo}}" class="customer share"><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>


{% endblock %}
{% block extra_js %}
    <script src="/static/js/share.js"></script>
{% endblock extra_js %}
