{% extends "base.html" %}

{% load embed_video_tags thumbnail %}

{% block share_fb %}
    <meta property="og:title" content="{{object.titulo}}" />

    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://fundacionluciernaga.org/media/{{object.imagen_portada}}">
    <meta property="og:image:width" content="270" />
    <meta property="og:image:height" content="375" />
    <meta property="og:description" content="{{object.sintesis|striptags}}" />
    <meta property="og:url" content="http://fundacionluciernaga.org{{request.path}}" />
    <meta property="og:locale" content="es_ES" />

    <meta name="twitter:title" content="{{object.titulo}}">
    <meta name="twitter:description" content="{{object.sintesis|striptags}}">
    <meta name="twitter:image" content="http://fundacionluciernaga.org/media/{{object.imagen_portada}}">
    <meta name="twitter:site" content="@LUCIÉRNAGA">
    <meta name="twitter:creator" content="@LUCIÉRNAGA">
{% endblock share_fb %}
{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/img.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>{{object.titulo}}</h1>
                <div class="bread-crumb"><a href="/">Inicio</a> / <a href="/videotecas/" class="current">Videoteca</a></div>
            </div>
        </div>
    </section>


    <!--Team Section-->
    <section class="team-section member-details">
        <div class="auto-container">

            <!--Column-->
            <article class="column team-member">
                <div class="inner-box">
                	<div class="row clearfix">
                    	<div class="column image-column col-lg-5 col-md-3 col-sm-3 col-xs-12">
                    		<figure class="image">
                                {% if object.imagen_portada %}
                                    <img class="img-responsive" src="/media/{{object.imagen_portada}}" alt="{{object.titulo}}" width="100%">
                                {% elif object.imagen_fill %}
                                    <img class="img-responsive" src="/media/{{object.imagen_fill}}" alt="{{object.titulo}}">
                                {% else %}
                                    <img class="img-responsive" src="https://via.placeholder.com/450x625" alt="{{object.titulo}}" width="100%">
                                {% endif %}
                            </figure>
                        </div>

                        <div class="column content-column col-lg-7 col-md-9 col-sm-9 col-xs-12">
                            <div class="member-info padd-bott-30">
                                <h3>{{object.titulo}}</h3>
                                <ul class="list-inline video_info">
                                    <li><a href="">{{object.productora}}</a></li> •
                                    <li>28 Agosto 2018</li> •
                                    <li>{{object.duracion}}</li>
                                    <li>{{object.idioma}}</li>
                                </ul>

                            </div>
                            <h4><strong>Sinópsis</strong></h4>
                            <div class="content">
                                <div class="text no-border no-padd-bottom">
                                   {{object.sintesis}}
                                </div>

                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><strong>Género</strong></td>
                                            <td>{{object.genero}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Dirección </strong></td>
                                            <td>{{object.realizacion}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Fotografias</strong></td>
                                            <td>{{object.fotografia}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Música</strong></td>
                                            <td>{{object.musica_original}}</td>
                                        </tr>
                                        <tr>
                                            <td><STRONG>Canción Original</STRONG></td>
                                            <td>{{object.musica_original}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pb-20">
                                {% if object.guiasdidacticas_set.all %}
                                    {% for obj in object.guiasdidacticas_set.all %}
                                        <a href="/media/{{obj.archivo}}" class="theme-btn btn-style-two">Descargar <span class="fa fa-download"></span></a>
                                    {% endfor %}
                                {% endif %}

                                </div>

                                <div class="social-links">
                                    <a href="https://www.facebook.com/sharer.php?u=http://fundacionluciernaga.org{{request.path}}" class="customer share"><span class="fa fa-facebook-f"></span></a>
                                    <a href="http://fundacionluciernaga.org{{request.path}}&amp;text={{object.titulo}}" class="customer share"><span class="fa fa-twitter"></span></a>
                                    <a href="https://plus.google.com/share?url=http://fundacionluciernaga.org{{request.path}}" class="customer share"><span class="fa fa-google-plus"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <hr>
            <div class="inner-box">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                        <br>
                        <div class="lista_episodios">
                            <!--<h4 class="inner-title double-line line-left">Lista de episodios</h4>
                             <ul class="list-group">
                                <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="list-group-item lightbox-image">Episodio 1: Loma verde</a>
                                <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="list-group-item lightbox-image">Episodio 2: Loma verde</a>
                                <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="list-group-item lightbox-image">Episodio 3: Loma verde</a>
                                <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="list-group-item lightbox-image">Episodio 4: Loma verde</a>
                                <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="list-group-item lightbox-image">Episodio 5: Loma verde</a>
                                <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="list-group-item lightbox-image">Episodio 6: Loma verde</a>
                                <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="list-group-item lightbox-image">Episodio 7: Loma verde</a>
                                <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="list-group-item lightbox-image">Episodio 8: Loma verde</a>
                                <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="list-group-item lightbox-image">Episodio 9: Loma verde</a>
                                <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="list-group-item lightbox-image">Episodio 10: Loma verde</a>
                            </ul>-->
                            {% if object.url_video %}
                                <h4 class="inner-title double-line line-left">Video</h4>
                                {% video object.url_video '600x500' %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="column default-featured-column links-column col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <article class="inner-box mb-md-60 estaesprueba">
                        <div class="vertical-links-outer owl-relacion">
                            <div class="text-uppercase p-20" data-bac="#393d42">
                                <h2 class="white_color fw-b fs-24 mr-xs-80 mr-xxs-0">Videoteca <span class="theme_color">Relacionadas</span></h2>
                            </div>
                            <div class="blog-news-column video-relacion owl-video owl-nav-style owl-nav3">
                            {% for ultimas in ultimas_videotecas %}
                                <article class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    {% thumbnail ultimas.portada "370x515" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="{{ultimas.titulo}}">
                                    {% endthumbnail %}
                                    <div class="content-box">
                                        <h3><a href="{% url 'videoteca_detail' ultimas.id ultimas.slug %}">{{ultimas.titulo}}</a></h3>
                                    </div>
                                </article>
                            {% endfor %}
                            </div>

                        </div>
                    </article>
                </div>
                </div>
            </div>

            <!-- <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qxcJKAr9XfM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div> -->

        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    <script src="/static/js/share.js"></script>
{% endblock extra_js %}
