{% extends "base.html" %}

{% load thumbnail el_pagination_tags %}

{% block content %}
	<!--Page Title-->
{% for portada in  site_config.fotossecciones_set.all %}
    {% if request.path == portada.url %}
    <section class="page-title" style="background-image:url(/media/{{portada.foto}});">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Lista <span class="normal-font">Eventos</span></h1>
                <div class="bread-crumb"><a href="/">Inicio</a>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}

    <!--Events Section-->
    <section class="events-section latest-events">
    	<div class="auto-container">

        	<div class="row clearfix events-list-section">
            {% paginate 6 object_list %}
            {% for obj in  object_list %}
                <!--Featured Column-->
                <div class="column default-featured-column style-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        {% if obj.portada %}
                         {% thumbnail obj.portada "350x250" crop="center" as im %}
                            <a href="{% url 'evento_detail' obj.id obj.slug %}"><img src="{{ im.url }}" alt="{{obj.titulo}}"></a>
                        {% endthumbnail %}
                        {% else %}
                            <a href="{% url 'evento_detail' obj.id obj.slug %}"><img src="https://via.placeholder.com/350x250" alt="{{obj.titulo}}"></a>
                        {% endif %}
                            <div class="post-tag">{{obj.fecha_inicio|date:"d  M Y"}}</div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="{% url 'evento_detail' obj.id obj.slug %}">{{obj.titulo}}</a></h3>
                            <ul class="event-held list-inline mb-15">
                                <li class="theme_color "><i class="black_color fa fa-clock-o mr-5"></i>{{obj.fecha_inicio|time:"P"}} a {{obj.fecha_finalizacion|time:"P"}}</li>
                                <li class="theme_color "> <i class="black_color fa fa-map-marker mr-5"></i>{{obj.lugar}}</li>
                            </ul>
                            <div class="text">{{obj.descripcion|safe|striptags|truncatewords:12}}</div>
                            <a href="{% url 'evento_detail' obj.id obj.slug %}" class="theme-btn btn-style-four btn-sm mr-10">Leer más</a>
                        </div>
                    </article>
                </div>
             {% endfor %}

            </div>

            <!-- Styled Pagination -->
            <div class="styled-pagination text-center padd-top-20 margin-bott-40">
                {% show_pages %}
            </div>

        </div>
    </section>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $( "a.endless_page_link:contains('>')" ).text( "Siguiente" ).addClass("next").append( '&ensp;<span class="fa fa-angle-right"></span>' );
    $( "a.endless_page_link:contains('<')" ).text( "Anterior" ).addClass("prev").prepend( '<span class="fa fa-angle-left"></span>&ensp;' );
</script>
{% endblock extra_js %}