{% extends "base.html" %}

{% load static %}

{% block extra_js %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
 <script>
// position we will use later
var lat = {{position.0}};
var lon = {{position.1}};
// initialize map
map = L.map('mapDiv').setView([lat, lon], 14);
// set map tiles source
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
  maxZoom: 18,
}).addTo(map);
// add marker to the map
marker = L.marker([lat, lon]).addTo(map);
// add popup to the marker
marker.bindPopup("{{object.lugar}}").openPopup();
</script>
{% endblock extra_js %}

{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/img.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1><span class="normal-font">{{object.titulo}}</span></h1>
                <div class="bread-crumb"><a href="/">Inicio</a> / <a href="/eventos/">Eventos</a></div>
            </div>
        </div>
    </section>


    <!--Sidebar Page-->
    <div class="sidebar-page">
    	<div class="auto-container">
        	<div class="row clearfix">

                <!--Content Side-->
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

                    <!--Projects Section-->
                    <section class="events-section event-details no-padd-bottom no-padd-top padd-right-20">

                        <div class="column default-featured-column style-two">
                            <article class="inner-box">
                                <figure class="image-box">
                                {% if object.portada %}
                                    <a href="#"><img src="/media/{{object.portada}}" alt="{{object.titulo}}"></a>
                                {% else %}
                                    <a href="#"><img src="http://fundacionluciernaga.org/luc%20matagalpa.jpg" alt="{{object.titulo}}"></a>
                                {% endif %}

                                </figure>
                                <div class="content-box padd-top-40 mb-20">
                                    <div class="row detail-header clearfix">
                                        <div class="col-md-12 col-sm-12">
                                            <h3 class="fs-28"><a href="#">{{object.titulo}}</a></h3>
                                            <ul class="event-held list-inline">
                                                <li class="theme_color "><i class="black_color fa fa-calendar"></i> {{object.fecha_inicio|date:"d  F Y"}}</li>
                                                <li class="theme_color "><i class="black_color fa fa-clock-o mr-5"></i> De {{object.fecha_inicio|time:"P"}} - {{object.fecha_finalizacion|time:"P"}}</li>
                                                <li class="theme_color "> <i class="black_color fa fa-map-marker mr-5"></i>{{object.lugar}}</li>
                                            </ul>
                                        </div>                                    </div>
                                    <hr>

                                    <div class="text">
                                       {{object.descripcion|safe}}
                                    </div>

                                    <br>

                                    <ul class="styled-list-one normal-font">
                                        {% if object.adjunto %}
                                            <li><a href="{{object.adjunto.url}}">Documento Adjunto</a> </li>

                                        {% endif %}

                                    </ul>

                                    <br><br>

                                    <div class="other-info">
                                    	<div class="row clearfix">
                                        	<!--Info Column-->
                                            <div class="info-column column col-md-6 col-xs-12">
                                            	<h3>Detalles del evento</h3>
                                                <ul class="info-box">
                                                    <li><span class="icon fa fa-map-marker"></span><strong>Ubicación</strong> {{object.lugar}}</li>
                                                    <li><span class="icon fa fa-calendar"></span><strong>Fecha</strong>{{object.fecha_inicio|date:"d  F Y"}}</li>
                                                    <li><span class="icon fa fa-clock-o"></span><strong>Horario</strong> De {{object.fecha_inicio|time:"P"}} - {{object.fecha_finalizacion|time:"P"}}</li>
                                                </ul>
                                            </div>

                                            <!--Map Column-->
                                            <div class="map-column column col-md-6 col-xs-12">
                                                <!--Map Container-->
                                                <div class="map-container">
                                                    <!--Map Canvas-->
                                                    <div id="mapDiv" style="width: 400px; height: 350px"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                                

                            </article>
                            <div class="post-share-options clearfix">
                                <div class="pull-left tags"><strong>Tag</strong> :
                                    {% for tag in object.tags.all %}
                                            <a href="{{tag.slug}}">{{tag}}</a> {% if  forloop.last%}{% else %},{% endif %}
                                    {% endfor %}
                                </div>
                                <div class="pull-right social-links-two clearfix">
                                    <a href="https://www.facebook.com/sharer.php?u=http://fundacionluciernaga.org{{request.path}}" class="facebook img-circle customer share"><span class="fa fa-facebook-f"></span></a>
                                    <a href="http://fundacionluciernaga.org{{request.path}}&amp;text={{object.titulo}}" class="twitter img-circle customer share"><span class="fa fa-twitter"></span></a>
                                    
                                </div>
                            </div>
                        </div>

                    </section>

                </div>
                <!--Content Side-->

               {% include "sidebar.html" %}

            </div>
        </div>
    </div>
    </div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".page-wrapper"><span class="fa fa-long-arrow-up"></span></div>

<!--Donate Popup-->
<div class="modal fade pop-box" id="donate-popup" tabindex="-1" role="dialog" aria-labelledby="donate-popup" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<!--Donation Section-->
            <section class="donation-section">
                <div class="donation-form-outer">
                    <form method="post" action="contact.html">

                        <!--Form Portlet-->
                        <div class="form-portlet">
                            <h3>How Much Would you like to Donate?</h3>

                            <div class="row clearfix">
                                <div class="form-group col-lg-7 col-md-12 col-xs-12 clearfix">

                                    <div class="radio-select">
                                        <input type="radio" name="sel-amount" id="amount-1">
                                        <label for="amount-1">$10</label>
                                    </div>

                                    <div class="radio-select">
                                        <input type="radio" name="sel-amount" id="amount-2" checked>
                                        <label for="amount-2">$25</label>
                                    </div>

                                    <div class="radio-select">
                                        <input type="radio" name="sel-amount" id="amount-3">
                                        <label for="amount-3">$50</label>
                                    </div>

                                    <div class="radio-select">
                                        <input type="radio" name="sel-amount" id="amount-4">
                                        <label for="amount-4">$100</label>
                                    </div>

                                    <div class="radio-select">
                                        <input type="radio" name="sel-amount" id="amount-5">
                                        <label for="amount-5">$150</label>
                                    </div>

                                </div>

                                <div class="form-group other-amount col-lg-5 col-md-8 col-xs-12 padd-top-10">

                                    <input type="text" name="other-amount" value="" placeholder="Or Other Amount">

                                </div>

                            </div>
                        </div>

                        <br>

                        <!--Form Portlet-->
                        <div class="form-portlet">
                            <h4>Billing Information</h4>

                            <div class="row clearfix">

                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">First Name <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="First Name" required>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Last Name <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Last Name" required>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Email <span class="required">*</span></div>
                                    <input type="email" name="name" value="" placeholder="Email" required>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Phone <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Phone" required>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Address 1 <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Address 1" required>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Address 2 <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Address 2" required>
                                </div>

                            </div>
                        </div>

                        <br>

                        <!--Form Portlet-->
                        <div class="form-portlet">
                            <h4>Payment Information</h4>

                            <div class="payment-option-logo"><img class="img-responsive" src="/static/images/resource/payment-logos.png" alt=""></div>
                            <br>

                            <div class="row clearfix">

                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Card Number <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Card Number" required>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Card Holder Name <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Card Holder Name" required>
                                </div>



                                <div class="form-group col-lg-3 col-md-3 col-xs-12">
                                    <div class="field-label">Expire Date <span class="required">*</span></div>
                                    <select>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-3 col-md-3 col-xs-12">
                                    <div class="field-label">&nbsp;</div>
                                    <select>
                                        <option>2016</option>
                                        <option>2017</option>
                                        <option>2018</option>
                                        <option>2019</option>
                                        <option>2020</option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Security Code (CVC) <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Security Code" required>
                                </div>

                            </div>
                        </div>

                        <div class="text-left"><button type="submit" class="theme-btn btn-style-two">Donate Now</button></div>

                    </form>
                </div>
            </section>
        </div>
    <!-- /.modal-content -->
    </div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock content %}
