{% extends "base.html" %}

{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/page-title-bg.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>Lista <span class="normal-font">Noticias</span></h1>
                <div class="bread-crumb"><a href="index.html">Inicio</a>
            </div>
        </div>
    </section>
    
    
    <!--Blog News Section-->
    <section class="blog-news-section latest-news">
    	<div class="auto-container">
    		<!--Filters Section-->
            <div class="filters-section">
            	<div class="filter-form">
                	<form method="post" action="index.html">
                    	<div class="row clearfix">
                        	<div class="form-group col-md-5 col-sm-5 col-xs-12">
                            	<div class="field-label">Palabra clave</div>
                                <input type="text" name="date" class="datepicker" value="" placeholder="Palabra clave">
                            </div>
                            <div class="form-group col-md-5 col-sm-5 col-xs-12">
                            	<div class="field-label">Temas</div>
                                <input type="text" name="" value="" placeholder="Temas">
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-xs-12">
                            	<div class="field-label">&nbsp;</div>
                                <button type="button" class="theme-btn btn-style-two">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
        	<div class="row clearfix">
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        	<a href="#"><img src="https://via.placeholder.com/350x250" alt=""></a>
                            <div class="news-date">28<span class="month">OCT</span></div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">Titulo de noticia</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Autor <span class="theme_color">Pablo Garcia</span></div>
                                
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam...</div>
                            <a href="#" class="theme-btn read-more">Leer más</a>
                        </div>
                    </article>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        	<a href="#"><img src="https://via.placeholder.com/350x250" alt=""></a>
                            <div class="news-date">22<span class="month">APR</span></div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">Titulo de noticia</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Autor <span class="theme_color">Pablo Garcia</span></div>
                                
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam...</div>
                            <a href="#" class="theme-btn read-more">Leer más</a>
                        </div>
                    </article>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        	<a href="#"><img src="https://via.placeholder.com/350x250" alt=""></a>
                            <div class="news-date">23<span class="month">MAR</span></div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">Titulo de noticia</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Autor <span class="theme_color">Pablo Garcia</span></div>
                                
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam...</div>
                            <a href="#" class="theme-btn read-more">Leer más</a>
                        </div>
                    </article>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        	<a href="#"><img src="https://via.placeholder.com/350x250" alt=""></a>
                            <div class="news-date">28<span class="month">OCT</span></div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">Titulo de noticia</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Autor <span class="theme_color">Pablo Garcia</span></div>
                                
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam...</div>
                            <a href="#" class="theme-btn read-more">Leer más</a>
                        </div>
                    </article>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        	<a href="#"><img src="https://via.placeholder.com/350x250" alt=""></a>
                            <div class="news-date">22<span class="month">APR</span></div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">Titulo de noticia</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Autor <span class="theme_color">Pablo Garcia</span></div>
                                
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam...</div>
                            <a href="#" class="theme-btn read-more">Leer más</a>
                        </div>
                    </article>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        	<a href="#"><img src="https://via.placeholder.com/350x250" alt=""></a>
                            <div class="news-date">23<span class="month">MAR</span></div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">Titulo de noticia</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Autor <span class="theme_color">Pablo Garcia</span></div>
                                
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam...</div>
                            <a href="#" class="theme-btn read-more">Leer más</a>
                        </div>
                    </article>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        	<a href="#"><img src="https://via.placeholder.com/350x250" alt=""></a>
                            <div class="news-date">28<span class="month">OCT</span></div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">Titulo de noticia</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Autor <span class="theme_color">Pablo Garcia</span></div>
                                
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam...</div>
                            <a href="#" class="theme-btn read-more">Leer más</a>
                        </div>
                    </article>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        	<a href="#"><img src="https://via.placeholder.com/350x250" alt=""></a>
                            <div class="news-date">22<span class="month">APR</span></div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">Titulo de noticia</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Autor <span class="theme_color">Pablo Garcia</span></div>
                                
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam...</div>
                            <a href="#" class="theme-btn read-more">Leer más</a>
                        </div>
                    </article>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        	<a href="#"><img src="https://via.placeholder.com/350x250" alt=""></a>
                            <div class="news-date">23<span class="month">MAR</span></div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">Titulo de noticia</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Autor <span class="theme_color">Pablo Garcia</span></div>
                                
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam...</div>
                            <a href="#" class="theme-btn read-more">Leer más</a>
                        </div>
                    </article>
                </div>
                
            </div>
            
            <!-- Styled Pagination -->
            <div class="styled-pagination text-center margin-bott-40">
                <ul>
                    <li><a class="prev" href="#"><span class="fa fa-angle-left"></span>&ensp;Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#" class="active">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a class="next" href="#">Next&ensp;<span class="fa fa-angle-right"></span></a></li>
                </ul>
            </div>
            
        </div>
    </section>
{% endblock content %}
