{% extends "base.html" %}

{% load thumbnail el_pagination_tags %}

{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/img.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>Lista <span class="normal-font">Noticias</span></h1>
                <div class="bread-crumb"><a href="/">Inicio</a>
            </div>
        </div>
    </section>


    <!--Blog News Section-->
    <section class="blog-news-section latest-news">
    	<div class="auto-container">
    		<!--Filters Section-->
            <div class="filters-section">
            	<div class="filter-form">
                	<form method="post" action="index.html">
                    	<div class="row clearfix">
                        	<div class="form-group col-md-5 col-sm-5 col-xs-12">
                            	<div class="field-label">Palabra clave</div>
                                <input type="text" name="date" class="datepicker" value="" placeholder="Palabra clave">
                            </div>
                            <div class="form-group col-md-5 col-sm-5 col-xs-12">
                            	<div class="field-label">Temas</div>
                                <input type="text" name="" value="" placeholder="Temas">
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-xs-12">
                            	<div class="field-label">&nbsp;</div>
                                <button type="button" class="theme-btn btn-style-two">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        	<div class="row clearfix lista_notas">
            {% paginate 9 object_list %}
            {% for obj in object_list %}
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box">
                		<figure class="image-box">
                        {% if obj.portada %}
                         {% thumbnail obj.portada "350x250" crop="center" as im %}
                            <a href="{% url 'noticia_detail' obj.id obj.slug %}"><img src="{{ im.url }}" alt="{{obj.titulo}}"></a>
                        {% endthumbnail %}
                        {% else %}
                        	<a href="{% url 'noticia_detail' obj.id obj.slug %}"><img src="https://via.placeholder.com/350x250" alt="{{obj.titulo}}"></a>
                        {% endif %}
                            <div class="news-date">{{obj.fecha|date:"d"}}<span class="month">{{obj.fecha|date:"M"}}</span></div>
                        </figure>
                        <div class="content-box">
                        	<h3><a href="{% url 'noticia_detail' obj.id obj.slug %}">{{obj.titulo}}</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Autor <span class="theme_color">{{obj.usuario.username}}</span></div>

                            </div>
                            <div class="text">{{obj.contenido|safe|striptags|truncatewords:12}}</div>
                            <a href="{% url 'noticia_detail' obj.id obj.slug %}" class="theme-btn read-more">Leer más</a>
                        </div>
                    </article>
                </div>
            {% endfor %}

            </div>

            <!-- Styled Pagination -->
            <div class="styled-pagination text-center margin-bott-40">
                {% show_pages %}
            </div>

        </div>
    </section>
{% endblock content %}
