{% extends "base.html" %}

{% load thumbnail  el_pagination_tags %}

{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/img.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>Videoteca</h1>
                <div class="bread-crumb"><a href="/">Inicio</a></div>
            </div>
        </div>
    </section>

    <!--Team Section-->
    <section class="team-section member-details">
        <div class="auto-container">
            <!--Filters Section-->
            <div class="filters-section">
                <div class="filter-form">
                    <form method="post" action="index.html">
                        <div class="row clearfix">
                            <div class="form-group col-md-5 col-sm-5 col-xs-12">
                                <div class="field-label">Género</div>
                                <select name="" id="input" class="form-control" required="required">
                                    <option value="">Drama</option>
                                    <option value="">Ficción</option>

                                </select>
                            </div>
                            <div class="form-group col-md-5 col-sm-5 col-xs-12">
                                <div class="field-label">Temas</div>
                                <input type="text" name="keyword" class="form-control" value="" placeholder="Keyword">
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-xs-12">
                                <div class="field-label">&nbsp;</div>
                                <button type="button" class="theme-btn btn-style-two">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <section>
    <section class="pt-20 pb-20" >
        <div class="auto-container">

            <div class="row clearfix">



                <!--Featured Column-->
                <div class="column default-featured-column style-three" data-bac="#fcfcfc">
                    <h4 class="inner-title double-line line-left">Loma Verde Primera temporada  </h4>
                    <div class="blog-news-column featured-video owl-video owl-nav-style owl-nav3">
                        <!--Default Featured Column-->
                        <div class="column default-featured-column style-two">
                            <article class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <figure class="image-box video-box">
                                    <img src="https://i.ytimg.com/vi/rb5I3sVyiXw/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDLiX_PpZCfPrmMa16ydYx-ErEeGg" alt="">
                                    <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="lightbox-image video-link"><div class="icon-outer"><span class="img-circle fa fa-play"></span></div></a>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Loma Verde. Capítulo 1</a></h3>
                                </div>
                            </article>
                        </div>

                        <!--Default Featured Column-->
                        <div class="column default-featured-column style-two">

                            <article class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <figure class="image-box video-box">
                                    <img src="https://i.ytimg.com/vi/Tr-Qpn9GXik/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAPLJrBRzFRNJgo-GyBQf1NtP3ysQ" alt="">
                                    <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="lightbox-image video-link"><div class="icon-outer"><span class="img-circle fa fa-play"></span></div></a>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Loma Verde. Capítulo 2</a></h3>
                                </div>
                            </article>
                        </div>
                        <!--Default Featured Column-->
                        <div class="column default-featured-column style-two">
                            <article class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <figure class="image-box video-box">
                                    <img src="https://i.ytimg.com/vi/R1KBdycm7x0/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCQUBJ_hpPD0TzKBf_UgYxhn3fquQ" alt="">
                                    <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="lightbox-image video-link"><div class="icon-outer"><span class="img-circle fa fa-play"></span></div></a>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Loma Verde. Capítulo 3</a></h3>
                                </div>
                            </article>
                        </div>
                        <!--Default Featured Column-->
                        <div class="column default-featured-column style-two">
                            <article class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <figure class="image-box video-box">
                                    <img src="https://i.ytimg.com/vi/vlWPgRyOUck/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDRTY7adjLenNiUDJZEPy2ht8l23A" alt="">
                                    <a href="https://www.youtube.com/watch?v=4VnKykt_wmc" class="lightbox-image video-link"><div class="icon-outer"><span class="img-circle fa fa-play"></span></div></a>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Loma Verde. Capítulo 4</a></h3>
                                </div>
                            </article>
                        </div>



                    </div>
                </div>



            </div>
        </div>
    </section>
    <section class="pt-0 pb-60" >
        <div class="auto-container">
            <h4 class="inner-title double-line line-left">Últimas producciones  </h4>
            <div class="row clearfix">
            {% paginate 12 object_list %}
            {% for obj in object_list %}
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 list-videos">
                    <article class="inner-box wow fadeInUp mb-10" data-wow-delay="300ms" data-wow-duration="1500ms">
                        {% if obj.imagen_portada %}
                        {% thumbnail obj.imagen_portada "270x375" crop="center" as im %}
                            <a href="{% url 'videoteca_detail' obj.pk obj.slug%}"><img class="img-responsive" src="{{ im.url }}" alt="{{obj.titulo}}" width="100%"></a>
                        {% endthumbnail %}
                        {% else %}
                            <a href="{% url 'videoteca_detail' obj.pk obj.slug%}"><img class="img-responsive" src="https://via.placeholder.com/270x375" alt="{{obj.titulo}}"></a>
                        {% endif %}
                        <div class="content-box">
                            <h3><a href="{% url 'videoteca_detail' obj.pk obj.slug%}">{{obj.titulo}}</a></h3>
                        </div>
                    </article>
                </div>
            {% endfor %}
            </div>
             <!-- Styled Pagination -->
            <div class="styled-pagination text-center padd-top-20 margin-bott-40">
                {% show_pages %}
            </div>
        </div>
    </section>


{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $( "a.endless_page_link:contains('>')" ).text( "Siguiente" ).addClass("next").append( '&ensp;<span class="fa fa-angle-right"></span>' );
    $( "a.endless_page_link:contains('<')" ).text( "Anterior" ).addClass("prev").prepend( '<span class="fa fa-angle-left"></span>&ensp;' );
</script>
{% endblock extra_js %}