{% extends "base.html" %}

{% load thumbnail  el_pagination_tags %}

{% block content %}
    <!--Page Title-->
{% for portada in  site_config.fotossecciones_set.all %}
    {% if request.path == portada.url %}
    <section class="page-title" style="background-image:url(/media/{{portada.foto}});">
        <div class="auto-container">
            <div class="sec-title">
                <h1>Videoteca</h1>
                <div class="bread-crumb"><a href="/">Inicio</a>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}

    <!--Team Section-->
    <section class="team-section member-details">
        <div class="auto-container">
            <div class="form-filter" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="tabpanel" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#search" aria-controls="search" role="tab" data-toggle="tab">Búsqueda</a>
                    </li>
                    <li role="presentation">
                        <a href="#plussearch" aria-controls="plussearch" role="tab" data-toggle="tab">Búsqueda avanzada</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="search">
                        <div class="filters-section">
                            <div class="filter-form">
                                <form method="post" action="{% url 'busqueda_videoteca' %}"> {% csrf_token %}
                                    <div class="row clearfix">
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{ form.titulo.label }}</div>
                                           {{form.titulo}}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{ form.serie.label }}</div>
                                            {{form.serie}}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{form.genero.label}}</div>
                                            {{form.genero}}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{form.temas.label}}</div>
                                            {{form.temas}}
                                        </div>
                                        <div class="col-md-12 col-sm-6 col-xs-12">
                                            <input class='theme-btn btn-style-two' type="submit" value="Buscar">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="plussearch">
                        <div class="filters-section">
                            <div class="filter-form">
                                <form method="post" action="{% url 'busqueda_videoteca' %}"> {% csrf_token %}

                                    <div class="row clearfix">
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{form.codigo_cat.label}}</div>
                                           {{form.codigo_cat}}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{form.titulo.label}}</div>
                                            {{form.titulo}}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{ form.serie.label }}</div>
                                            {{form.serie}}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{form.genero.label}}</div>
                                            {{form.genero}}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{form.temas.label}}</div>
                                            {{form.temas}}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{form.pais.label}}</div>
                                            {{form.pais}}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{form.anio.label}}</div>
                                            {{form.anio}}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-label">{{form.idioma.label}}</div>
                                            {{form.idioma}}
                                        </div>
                                        <div class="col-md-12 col-sm-6 col-xs-12">
                                             <input class='theme-btn btn-style-two' type="submit" value="Buscar">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-0 pb-60" >
        <div class="auto-container">
            <h4 class="inner-title double-line line-left">Resultados de búsqueda  </h4>
            <div class="row clearfix">
            {% paginate 12 object_list %}
            {% for obj in object_list %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 list-videos">
                    <article class="inner-box wow fadeInUp mb-10" data-wow-delay="300ms" data-wow-duration="1500ms">
                        {% if obj.imagen_portada %}
                        {% thumbnail obj.imagen_portada "270x375" crop="center" as im %}
                            <a href="{% url 'videoteca_detail' obj.pk obj.slug%}"><img class="img-responsive" src="{{ im.url }}" alt="{{obj.titulo}}" width="100%"></a>
                        {% endthumbnail %}
                        {% else %}
                            <a href="{% url 'videoteca_detail' obj.pk obj.slug%}"><img class="img-responsive" src="https://via.placeholder.com/270x375" alt="{{obj.titulo}}" width="100%"></a>
                        {% endif %}
                        <div class="content-box">
                            <h3><a href="{% url 'videoteca_detail' obj.pk obj.slug%}">{{obj.titulo|truncatechars:45}}</a></h3>
                        </div>
                    </article>
                </div>
            {% endfor %}
            </div>
             <!-- Styled Pagination -->
            <div class="styled-pagination text-center padd-top-20 margin-bott-40">
                {% show_pages %}
            </div>
        </div>
    </section>


{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $( "a.endless_page_link:contains('>')" ).text( "Siguiente" ).addClass("next").append( '&ensp;<span class="fa fa-angle-right"></span>' );
    $( "a.endless_page_link:contains('<')" ).text( "Anterior" ).addClass("prev").prepend( '<span class="fa fa-angle-left"></span>&ensp;' );
    $( ".filters-section .form-group input").addClass("form-control");
    $( ".filters-section .form-group select" ).addClass("form-control");
</script>
{% endblock extra_js %}
