{% extends "base.html" %}

{% block content %}
	<section class="default-section pb-0 mb-50 static_page">
    	<div class="auto-container">
    		<article class="inner-box mt-10 wow fadeInRight default-text-column" data-wow-delay="0ms" data-wow-duration="1500ms">
    			<h2 class="fs-32"> {{flatpage.title}} </h2>
                <div class="text">
                	<p>
                		{{ flatpage.content }}
                	</p>
                </div>
            </article> 
        </div>
    </section>



{% endblock content %}
