{% extends "base.html" %}

{% block content %}
    <!--Page Title-->
{% for portada in  site_config.fotossecciones_set.all %}
    {% if request.path == portada.url %}
    <section class="page-title" style="background-image:url(/media/{{portada.foto}});">
        <div class="auto-container">
            <div class="sec-title">
                <h1>{{flatpage.title}}</span></h1>
                <div class="bread-crumb">
                    <a href="/">Inicio</a> / <a>{{flatpage.title}}</a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}

	<section class="default-section pt-50 mb-70 static_page">
    	<div class="auto-container">
    		<article class="inner-box mt-10 wow fadeInRight default-text-column" data-wow-delay="0ms" data-wow-duration="1500ms">
    			<!--<h2 class="fs-32"> {{flatpage.title}} </h2>-->
                <div class="text">
                	<p>
                		{{ flatpage.content }}
                	</p>
                </div>
            </article>
        </div>
    </section>



{% endblock content %}
